.container {
    height: 100%;
    width: 100%;
}

.card {
    padding: 15px;
}

h4 {
    margin: 0px 5px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.pink {
    color: #FF4081;
}

.space-top {
    margin-top: 20px;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    z-index: 999;
    opacity: 0.8;
    // pointer-events: none;
}

input[type="file"]::file-selector-button {
    background: white;
    cursor: pointer;
    border: solid 2px #FF4081;
    border-radius: 4px;
    color: #FF4081;
    text-align: center;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    margin: 5px 5px 5px 0px;
}

input[type="file"]::file-selector-button:hover {
    background: #FF4081;
    border: solid 2px white;
    color: white;
}

// --------mat css------------
.example-form {
    font-size: small;
}

.example-full-width {
    width: 100%;
    min-width: 300px;
}