<mat-toolbar color="accent" class="arrange">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with search icon">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with favorite icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with account icon">
      <mat-icon>account_circle</mat-icon>
    </button>

</mat-toolbar>
